/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp F1
&kp F2
&kp F3
&kp F4






























&kp F5
            >;
        };

        function {
            bindings = <
&trans
&bt BT_CLR
&bt BT_SEL 1
&bt BT_SEL 2






























&bt BT_SEL 3
            >;
        };

        reset_boot {
            bindings = <
&trans
&kp C_BRI_UP
&kp C_BRI_DN
&kp PSCRN






























&kp PSCRN
            >;
        };

        lock_layer {
            bindings = <
&none
&none
&none
&none






























&none
            >;
        };
    };
};
